[submodule "discovery-service/contract"]
	path = discovery-service/contract
	url = https://bitbucket.org/gbauso/contract
[submodule "api-gateway/contract"]
	path = api-gateway/contract
	url = https://bitbucket.org/gbauso/contract
[submodule "nearby-cities-service/contract"]
	path = nearby-cities-service/contract
	url = https://bitbucket.org/gbauso/contract
[submodule "population-service/contract"]
	path = population-service/contract
	url = https://bitbucket.org/gbauso/contract
[submodule "weather-service/contract"]
	path = weather-service/contract
	url = https://bitbucket.org/gbauso/contract
