version: '3.5'

services:
  api-gateway:
    image: msexp/api-gateway:0.0.203
    restart: always
    ports: 
      - 8081:80
    environment: 
      - ASPNETCORE_URLS=http://+:80
      - DiscoveryService__Url=discovery:80
      - Logging__Host=fluentd
      - Logging__Port=24224
      - Logging__Tag=api-gateway
      - VaultOptions__Server=http://vault:8200
      - VaultOptions__SecretId=b6qub2Ak0Hc2oLJQwnkXQo2fHU1SeKQ/Zp5Gz1HXNiU=
      - VaultOptions__TokenId=s.dnMzpkdGMVweGhDCe1vnRiWl
      - VaultOptions__Prefix=kv/data
      - Metrics__Port=3000
    depends_on: 
      - population
      - weather
      - nearby-cities
      - discovery
    networks:
      - grpc_
  population:
    image: msexp/population-service:0.0.190
    restart: always
    ports: 
      - 5011:5011
    environment: 
      - PORT=5011
      - HOST=0.0.0.0
      - SB_USER=admin
      - SB_URL=rabbitmq
      - SB_PWD=Secr3t
      - SB_PORT=5672
      - LOGGER_HOST=fluentd
      - LOGGER_PORT=24224
      - REGISTER_AS=localhost
      - METRICS_PORT=3000
    networks:
      - grpc_
  discovery:
    image: msexp/discovery-service:0.0.189
    restart: always
    ports: 
      - 5010:80
    environment: 
      - ServiceBus__Username=admin
      - ServiceBus__Host=rabbitmq
      - ServiceBus__Password=Secr3t
      - ConnectionStrings__Etcd=http://etcd
      - Grpc__Host=discovery
      - Grpc__Port=80
      - Logging__Host=fluentd
      - Logging__Port=24224
      - Logging__Tag=discovery
      - Metrics__Port=3000
    networks:
      - grpc_
  weather:
    image: msexp/weather-service:0.0.197
    restart: always
    ports: 
      - 5012:5012
    environment: 
      - PORT=5012
      - HOST=0.0.0.0
      - SB_USER=admin
      - SB_HOST=rabbitmq
      - SB_PWD=Secr3t
      - SB_PORT=5672
      - OPENWEATHER_APP_ID=5e1faa4ff336e703c364487b3ec7f325
      - REGISTER_AS=localhost
      - LOGGER_HOST=fluentd
      - LOGGER_PORT=24224
      - METRICS_PORT=3000
    networks:
      - grpc_
  nearby-cities:
    image: msexp/nearby-cities-service:0.0.186
    ports: 
      - 5013:5013
    environment: 
      - PORT=5013
      - HOST=0.0.0.0
      - LOGGER_HOST=fluentd
      - LOGGER_PORT=24224
      - LOGGER_SYNC=true
      - REGISTER_AS=localhost
      - VAULT_HOST=http://vault:8200
      - VAULT_TOKEN=s.dnMzpkdGMVweGhDCe1vnRiWl
      - METRICS_PORT=3000
    networks:
      - grpc_
networks:
  grpc_:
    external: true
    name: grpc_

