<configuration scan="true" scanPeriod="30 seconds">
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="jsonFileAppender" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <file>${LOG_PATH}</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender" />
        <appender-ref ref="jsonFileAppender" />
    </root>
</configuration>