isOkteto: true
metricsPort: 3000
pullPolicy: Always
domain:

apiGateway:
  replicaCount: 1
  host: api
  port: 5600
  namespace:
  image: msexp/api-gateway

discoveryService:
  replicaCount: 1
  host: discovery
  port: 5650
  namespace:
  image: msexp/discovery-service

populationService:
  replicaCount: 1
  host: population
  port: 5650
  namespace:
  image: msexp/population-service

weatherService:
  replicaCount: 1
  host: weather
  port: 5650
  namespace:
  openWeatherId: 
  image: msexp/weather-service

nearbyCitiesService:
  replicaCount: 1
  host: nearby-cities
  port: 5650
  namespace:
  image: msexp/nearby-cities-service

pgsql:
  host: postgres
  image: postgres:12-alpine
  port: 5432
  user: admin
  password: Secr3t
  database: discovery
  ssl: true
  namespace:

fluentd:
  image: msexp/fluentd:k8s
  host: fluentd
  port: 24224
  namespace:

elastic:
  image: blacktop/elastic-stack
  host: elasticsearch
  kibanaPort: 80
  port: 9200
  user:
  password:
  namespace:
  
rabbitmq:
  image: rabbitmq:3.8-management-alpine
  host: rabbitmq
  port: 5672
  namespace:
  adminPort: 15672
  user: admin
  password: Secr3t
  ssl: true

prometheus:
  image: prom/prometheus:v2.23.0
  host: prom
  port: 9090
  namespace:
