isOkteto: false
metricsPort: 3000
pullPolicy: IfNotPresent
domain: localhost

newRelic: 
  baseUrl: 
  apiKey:

grpcGateway:
  replicaCount: 2
  host: grpc-gateway
  port: 5600
  namespace: gateway
  image: msexp/grpc-gateway

discoveryService:
  replicaCount: 2
  host: discovery
  port: 5650
  namespace: backend
  image: msexp/discovery-service

populationService:
  replicaCount: 3
  host: population
  port: 5650
  namespace: backend
  image: msexp/population-service

weatherService:
  replicaCount: 3
  host: weather
  port: 5650
  namespace: backend
  openWeatherId: 
  image: msexp/weather-service

nearbyCitiesService:
  replicaCount: 3
  host: nearby-cities
  port: 5650
  namespace: backend
  image: msexp/nearby-cities-service

pprometheus:
  image: prom/prometheus:v2.23.0
  host: prom
  port: 9090
  namespace: infra
