isOkteto: true
metricsPort: 3000
pullPolicy: Always
domain:

newRelic: 
  baseUrl: 
  apiKey: 

fluentd:
  image: msexp/fluentd-nr
  logPath: /dev/logs

grpcGateway:
  replicaCount: 2
  host: grpc-gateway
  port: 80
  namespace: gateway
  image: msexp/grpc-gateway

discoveryService:
  replicaCount: 1
  host: discovery
  port: 5650
  namespace:
  image: msexp/discovery-service-master

discoveryAgent:
  image: msexp/discovery-service-agent

populationService:
  replicaCount: 1
  host: population
  port: 5650
  namespace:
  image: msexp/population-service

weatherService:
  replicaCount: 1
  host: weather
  port: 5650
  namespace:
  openWeatherId: 
  image: msexp/weather-service

nearbyCitiesService:
  replicaCount: 1
  host: nearby-cities
  port: 5650
  namespace:
  image: msexp/nearby-cities-service

prometheus:
  image: prom/prometheus:v2.23.0
  host: prom
  port: 9090
  namespace:
