apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.discoveryService.host }} 
  {{- if not .Values.isOkteto }}
  namespace: {{ .Values.discoveryService.namespace }}
  {{ end }}
spec:
  ports:
  - name: http2
    targetPort: {{ .Values.discoveryService.port }} 
    port: {{ .Values.discoveryService.port }} 
  {{ include "grpc.metrics" .}}
  selector:
    app: {{ .Values.discoveryService.host }} 
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.discoveryService.host }}
  {{- if not .Values.isOkteto }}
  namespace: {{ .Values.discoveryService.namespace }}
  {{ end }}
  labels:
    app.kubernetes.io/component: {{ .Values.discoveryService.host }} 
spec:
  replicas: {{ .Values.discoveryService.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.discoveryService.host }} 
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      {{- if not .Values.isOkteto }}
      namespace: {{ .Values.discoveryService.namespace }}
      {{ end }}
      labels:
        app: {{ .Values.discoveryService.host }} 
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      initContainers:
      {{ include "grpc.initContainers" . }}
      containers:
      - name: {{ .Values.discoveryService.host }} 
        image: {{ .Values.discoveryService.image }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        ports:
        - containerPort: {{ .Values.discoveryService.port }} 
        - containerPort: {{ .Values.metricsPort }}
        resources:
          limits:
            cpu: "300m"
            memory: "400Mi"
          requests:
            cpu: "200m"
            memory: "200Mi"
        env:
          - name: ServiceBus__Username
            value: {{ .Values.rabbitmq.user | quote }}
          - name: ServiceBus__Host
            value: {{ include "grpc.rabbitmq" . }}
          - name: ServiceBus__Password
            value: {{ .Values.rabbitmq.password | quote }}
          - name: ServiceBus__IsSSl
            value: {{ .Values.rabbitmq.ssl | quote }}
          - name: ConnectionStrings__DiscoveryDbContext
            value: {{ include "grpc.pgsql" . }}
          - name: Grpc__Host
            value: "0.0.0.0"
          - name: Grpc__Port
            value: {{ .Values.discoveryService.port | quote }}
          - name: Logging__Host
            value: {{ include "grpc.fluentd" . }}
          - name: Logging__Port
            value: {{ .Values.fluentd.port | quote }}
          - name: Logging__Tag
            value: "discovery"
          - name: Metrics__Port
            value: {{ .Values.metricsPort | quote }}