apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.discoveryService.host }} 
  {{- if not .Values.isOkteto }}
  namespace: {{ .Values.discoveryService.namespace }}
  {{ end }}
spec:
  ports:
  - name: http2
    targetPort: {{ .Values.discoveryService.port }} 
    port: {{ .Values.discoveryService.port }} 
  {{ include "grpc.metrics" .}}
  selector:
    app: {{ .Values.discoveryService.host }} 
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.discoveryService.host }}
  {{- if not .Values.isOkteto }}
  namespace: {{ .Values.discoveryService.namespace }}
  {{ end }}
  labels:
    app.kubernetes.io/component: {{ .Values.discoveryService.host }} 
spec:
  replicas: {{ .Values.discoveryService.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.discoveryService.host }} 
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      {{- if not .Values.isOkteto }}
      namespace: {{ .Values.discoveryService.namespace }}
      {{ end }}
      labels:
        app: {{ .Values.discoveryService.host }} 
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Values.discoveryService.host }} 
        image: {{ .Values.discoveryService.image }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        ports:
        - containerPort: {{ .Values.discoveryService.port }} 
        - containerPort: {{ .Values.metricsPort }}
        resources:
          limits:
            cpu: "500m"
            memory: "400Mi"
          requests:
            cpu: "200m"
            memory: "200Mi"
        env:
          - name: HOST
            value: "0.0.0.0"
          - name: PORT
            value: {{ .Values.discoveryService.port | quote }}
          - name: LOG_PATH
            value: {{  printf "%s/%s-%s.log" .Values.fluentd.logPath .Values.discoveryService.host "%s" }}
          - name: DB_PATH
            value: /app/master/adapter/database/sqlite.db
        volumeMounts:
          - name: logs
            mountPath: {{ .Values.fluentd.logPath }}
          - name: db
            mountPath: /app/master/adapter/database
    volumes:
    - name: database
      hostPath:
        path: /app/master/adapter/database
    - name: logs
      hostPath:
        path: {{ .Values.fluentd.logPath }}